# Diretórios
bin/
obj/

# Arquivos de configuração
Web.config
App.config

# Arquivos gerados pelo Visual Studio
*.suo
*.user
*.bak
*.cache
*.dll.refresh
*.log
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tlh
*.usr
*.vbw
*.ilk
*.aps
*.bin
*.ncb
*.pdb
*.suo
*.user
*.vspscc
*.vssscc
*.bak
*.tmp
*.htm
*.html
*.css
*.js
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.ico
*.wav
*.xls
*.doc
*.docx
*.ppt
*.pptx
*.pdf
